section {
    .player-inputs {
        padding: 0 0 30px;
        min-height: 150px;
        input {
            margin: 0 0 10px;
        }
    }
    .player-buttons {
        padding: 0 0 10px;
    }
}